<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movies</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h1>Movies</h1>

    <ul>

    <% @sorted_movies[@range_min..@range_max].each do |movie| %>
      <li><a href="/movies/<%= movie[:id] %>">
      <%= movie[:title] %></a></li><% end %>


    </ul>

    <a href="/movies?page=<%= @next_page %>">
    <%= "Next Page" %></a>

    <form action="/movies" method="get">
    <label for="query">Search: </label>
    <input type="text" name="query" id="query" />

    <input type="submit" value="Search" /><br>
    <a href="/movies/<%= @search_results[0][:id] %>"><%= @search_results[0][:title] %></a>
    </form>

  </body>
</html>
