<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="../home.css" />
  </head>

  <body>
    <h1><%= @title %></h1>

    <ul>

          <li>Year: <%= @year %></li>
          <li>Synopsis: <%= @synopsis %></li>
          <li>Rating: <%= @rating %></li>
          <li>Genre: <%= @genre %></li>
          <li>Studio: <%= @studio %></li>


    </ul>

  </body>
</html>
